body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  padding: 2rem;
  grid-column: 1 / 4;
}



.left-side {
  grid-column: 1 / 2;
}

main {
  grid-column: 2 / 3;
  min-width: max-content;
  place-items: center

}

.right-side {
  grid-column: 3 / 4;
  background-color: 	rgb(236, 255, 179);

} 

.conversation-flow {
  max-width:60%;
  max-height:60%;
}

.waves-effect.waves-light.btn{
  background-color: #e1bee7;
  border: 0.5px solid rgb(112, 17, 124);
  padding: 10px 25px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 75%;
  table-layout: fixed;
  border-collapse: collapse;
}



footer {
  grid-column: 1 / 4;
}