body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.parent {
  background-image: url('background2.jpg');
  background-size: 100%;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  padding: 2rem;
  grid-column: 1 / 4;

}



.left-side {
  grid-column: 1 / 2;
}

main {
  grid-column: 2 / 3;
  min-width: max-content;
  place-items: center;
  margin-left: 100px;

}

.right-side {
  grid-column: 3 / 4;
  background-color: 	white;

} 

.conversation-flow {
  max-width:60%;
  max-height:60%;
  float: right;

}
.chameleon-icon{
  max-width:10%;
  max-height:10%;
  float: right;
  /* background: transparent; */
}
.Conversational_flow_v1{
  max-width:60%;
  max-height:60%;
  float: right;
  /* background: transparent; */
}
.waves-effect.waves-light.btn{
  background-color: #17a6e9;
  border: 3px solid rgb(100, 98, 98);
  padding: 10px 25px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(245, 245, 245);
  cursor: pointer;
  width: 300px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: 50px;
}
.card{

  overflow: auto;
}
/* .list-group-item.list-group-item-action.list-group-item-primary{
  width: 50px;
  height: 50px;
  float: left;
  overflow: visible;
}
.list-group-item.list-group-item-action.list-group-item-success{
  width: 50px;
  height: 50px;
  float: right;
overflow: visible;
} */
footer {
  grid-column: 1 / 4;
}


.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
